---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
const isLeaf = true
---

<BlogPost {...post.data}>
	<h1>Slot test</h1>
	{isLeaf ? <p>Leaf</p> : <p>Branch</p>}
	<Content />
</BlogPost>
